/* Wrapping the application */

.app-wrapper {
  min-height: 100vh;
  overflow: hidden;
  background-image: url("./../assets/images/site-collage-no-border-blur.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* Made with love in the bottom */

.made-with {
  position: relative;
  .made-with-text {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* Breakpoint for  */
    @media only screen and (max-width: 900px) {
      position: relative;
    }
    @media only screen and (max-height: 900px) {
      position: relative;
    }
    .heart-icon {
      color: rgb(119, 55, 55);
    }
  }
}
