<div class="app-wrapper">

  <!-- Router for navigations - commented for now until the further development is done -->
  <!-- <nav mat-tab-nav-bar backgroundColor="blue" disableRipple="true">
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav> -->

  <router-outlet></router-outlet>
  <div class="made-with">
    <p class="center-align made-with-text">Made with
      <i class="fa fa-heart heart-icon" aria-hidden="true"></i> by Saiyaff Farouk</p>
  </div>
</div>
