.app-wrapper {
  min-height: 100vh;
  overflow: hidden;
  background-image: url("./../assets/images/site-collage-no-border-blur.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.made-with {
  position: relative;
  .made-with-text {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    .heart-icon {
      color: rgb(119, 55, 55);
    }
  }
}
