<div class="home-wrapper">
  <div class="row">

    <div class="col s6 offset-s3 home-profile-card">
      <div class="center-align home-profile">

        <img class="circle responsive-img profile-image" src="./../../assets/images/my-prof.jpg" alt="saiyaffs-profile-image">

        <div class="profile-bio">
          <span class="bio-text"> Software Developer loves what I do. </span>
          <span class="bio-text"> Writes awesome softwares. </span>
          <p class="profile-bio-sub">
            Travel and Adventure is the pill of motivation.
          </p>
        </div>

        <div class="social-channels">
          
        </div>

        <div class="contact">
          <a href="mailto:muhammedsaiyaff@gmail.com">muhammedsaiyaff@gmail.com</a>
        </div>

      </div>
    </div>

  </div>
</div>
