<div class="home-wrapper">
  <div class="row">

    <div class="col s12 m8 l6 offset-m2 offset-l3 home-profile-card">
      <div class="center-align home-profile">

        <img class="circle responsive-img profile-image" src="./../../assets/images/my-prof.jpg" alt="saiyaffs-profile-image">

        <div class="profile-bio">
          <span class="bio-text"> Software Developer loves what I do. </span>
          <span class="bio-text"> Writes awesome softwares. </span>
          <p class="profile-bio-sub">
            Travel and Adventure are the pills of motivation.
          </p>
        </div>

        <div class="social-channels">
          <a class="clear-bg social-icon" href="https://github.com/msaiyaff" rel="noopener noreferrer"
            target="_blank">
            <i class="fa fa-2x fa-github" aria-hidden="true"></i>
          </a>
          <a class="clear-bg social-icon" href="https://stackoverflow.com/users/5476757/saiyaff-farouk?tab=profile"
            rel="noopener noreferrer" target="_blank">
            <i class="fa fa-2x fa-stack-overflow" aria-hidden="true"></i>
          </a>
          <a class="clear-bg social-icon" href="https://medium.com/@saiyaff" rel="noopener noreferrer"
            target="_blank">
            <i class="fa fa-2x fa-medium" aria-hidden="true"></i>
          </a>
          <a class="clear-bg social-icon" href="https://www.quora.com/profile/Saiyaff-Farouk" rel="noopener noreferrer"
            target="_blank">
            <i class="fa fa-2x fa-quora" aria-hidden="true"></i>
          </a>
          <a class="clear-bg social-icon" href="https://www.linkedin.com/in/saiyaff-farouk-995806b9/"
            rel="noopener noreferrer" target="_blank">
            <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
          </a>
          <a class="clear-bg social-icon" href="https://twitter.com/msaiyaff" rel="noopener noreferrer"
            target="_blank">
            <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
          </a>
          <a class="clear-bg social-icon" href="https://www.instagram.com/saiyaff/" rel="noopener noreferrer"
            target="_blank">
            <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
          </a>
          <a class="clear-bg social-icon" href="https://www.facebook.com/msaiyaff" rel="noopener noreferrer"
            target="_blank">
            <i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i>
          </a>
          <a class="clear-bg social-icon" href="https://www.youtube.com/channel/UCOmUExsTQ4BMi5cH0IU8gqA/videos?view_as=subscriber"
            rel="noopener noreferrer" target="_blank">
            <i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i>
          </a>
        </div>

        <div class="clear-bg contact">
          <div class="contact-text">
            Talk to me
          </div>
          <a class="link" href="mailto:muhammedsaiyaff@gmail.com" rel="noreferrer" target="_blank">muhammedsaiyaff@gmail.com</a>
          <a class="link" href="tel:+94777001737">+94 777 001 737</a>
        </div>

      </div>
    </div>

  </div>
</div>
