.home-profile-card {
  margin-top: 125px;
  .home-profile {
    /* Profile image of the user */
    .profile-image {
      max-width: 200px;
      display: block;
      margin: 0 auto;
    }
    /* Profile description of the user */
    .profile-bio {
      margin-top: 25px;
      padding: 20px 15px 10px 15px;
      font-size: 28px; // background-color: rgba(187, 187, 187, 0.5);
      border-radius: 10px;
      .bio-text {
        display: block;
        font-weight: bold;
      }
      .profile-bio-sub {
        font-size: 18px;
      }
    }
    /* Social profiles */
    .social-channels {
      display: inline-flex;
      margin-top: 30px;
      .social-icon {
        margin: 0px 5px;
        padding: 8px;
        color: rgba(0, 0, 0, 1);
        &:hover {
          color: rgba(61, 114, 185, 1);
        }
      }
    }
    /* contact section */
    .contact {
      margin-top: 30px;
      padding-top: 8px;
      .contact-text {
        font-size: 18px;
        font-weight: 500;
      }
      .link {
        display: block; // margin-bottom: 10px;
        padding: 5px;
        color: rgba(0, 0, 0, 1);
        &:hover {
          color: rgba(61, 114, 185, 1);
        }
      }
    }
  }
}


/* commonly used bg color and hover change */

.clear-bg {
  background-color: rgba(187, 187, 187, 0.5);
  border-radius: 10px;
  &:hover {
    background-color: rgba(187, 187, 187, 0.8);
    transition: background-color, 0.5s;
  }
}
